.contact-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.contact-container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.contact-container h2 {
  color: #3498db;
  font-size: 36px;
  margin-bottom: 20px;
}  



.contact-container p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container label {
  color: #3498db;
  font-size: 18px;
  margin-top: 10px;
  display: block;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
}

.contact-container button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.contact-container button:hover {
  background-color: #2980b9;
}
