.flash-card {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: rotateY(0deg); 
}

.flash-card:hover {
  transform: rotateY(180deg);
}

.card-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.front {
  background-color: #f8f8f8;
}

.back {
  background-color: #3498db;
  color: #fff;
  transform: rotateY(180deg);
  transform-origin: left; /* Prevent text mirroring */
}

.status-buttons button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.status-buttons button:hover {
  background-color: #27ae60;
}

.edit-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotateY(180deg); /* Ensure the buttons don't mirror during the flip */
  transform-origin: right; /* Set the transform origin to the right */
}

.flash-card p {
  margin: 0;
}

.flash-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
